body {
    width:90vw;
    height:100vh;
}
.calculator {
    display: flex;
    flex-direction: column;
    font-size: 29px;
}

.button {
    display: flex;
    border: black solid 1px;
    flex: 1;
    padding: 10px;
}

.line {
    display:flex;
    flex: 1;
    min-width: 200px;
}

.display {
}

.zero {
    border-right:transparent solid 1px;

}
.zero2 {
    border-left:transparent solid 1px;
    border-right:transparent solid 1px;
}
.zero3 {
    border-left:transparent solid 1px;
}