body {
    height:100vh;
}
.calculator {
    display: flex;
    flex-direction: column;
    font-size: 29px;
    max-height: 600px;
    color:white;
    border:grey solid 6px;
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding:1px;
}

.button {
    display: flex;
    border: white solid 1px;
    padding: 10px;
    flex:1;
    background-color: black;
}

.line {
    display:flex;
    flex: 1;
}

.display {
    display:flex;
    justify-content: flex-end;
}

.zero {
    border-right:black solid 1px;
}

.clear, .equals {
    background-color: grey;
}

.plus, .minus, .multiply, .divide{
    background-color: orange;
}